/* / Fonts /
font-family: 'Hind Siliguri', sans-serif; - Hind Siliguri
font-family: 'Merriweather', serif; - Merriweather
font-family: 'Raleway', sans-serif; - Raleway
font-family: 'Roboto', sans-serif; - Roboto */
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Merriweather:wght@300&family=Raleway:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">


.hyperlink:hover {
	color: red;
}

.hyperlink:active {
	color: red;
}

.hyperlink {
	color: blue;
}


body {
	background-color: #333333;
}

.merrifont {
	font-family: 'Merriweather', serif;
}

.hindifont {
	font-family: 'Hind Siliguri', sans-serif;
}

.raletext {
	font-family: 'Raleway', sans-serif;
}
.openstext {
	font-family: 'Open Sans', sans-serif;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cccccc;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

li a:hover {
  background-color: #111111;
  color: white;
}
